<div class="global-container"></div>


<div class="outer-container">
    <div class="inner-container left">
        <app-todo-element  *ngFor="let task of toDoTasks" [data]="task" >
        </app-todo-element>
        <button (click)="addNewTask()">Add new task</button>
    </div>
    <div class="inner-container cener">In progress
        <app-todo-element (changeTaskCondition)="taskComplete($event)" *ngFor="let progress of inProgressTasks" [data]="progress">
        </app-todo-element>

    </div>
    <div class="inner-container right">Done
            <app-todo-element  *ngFor="let done of doneTasks" [data]="done">
            </app-todo-element>
    </div>

</div>