.outer-container {
    
    height: auto;
    border-radius: 8px;
    
    display: flex;
    justify-content: space-around;
    

    .inner-container {
        border: 2px solid rgb(0, 133, 71);
        border-radius: 8px;
        width: 30%;
        background-color: aliceblue;
       


        .text {
            text-align: start ;
            overflow-x:hidden; 
        }
    }
}

button {
    padding: 5px;
    background: rgb(34,193,195 );
    border-radius: 10px;
}
