<div class="global-container"></div>


<div class="outer-container">
    <div class="inner-container left">
        <app-todo-element (changeTaskCondition)="changeTaskCondition($event)" 
        *ngFor="let task of tasks" [data]="task">
        </app-todo-element>
        <button (click)="addToData()">Add new task</button>
    </div>
    <div class="inner-container cener">In progress
        <app-todo-element  *ngFor="let progress of inProgress" [data]="progress">
        </app-todo-element>

    </div>
    <div class="inner-container right">Done</div>

</div>